.container {
  width: 100%;
  padding: 6rem 0;
  background: linear-gradient(180deg, #ffffff, #f4f7ff);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 2.3rem;
  font-weight: 700;
  color: #041c5a;
  margin-bottom: 3rem;
  text-align: center;
}